body{
    margin: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box-divs{
    width: 45%;
    height: 60%;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}
.product-picture.infos{
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}
.product-picture{
    object-fit: cover;
    width:95%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.infos{
    width: 55%;
    padding: 10px;
    margin: 0 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    box-sizing: border-box;
}
.category{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: 'Montserrat', sans-serif;
}
.title, .desc{
    overflow-y: auto;
}
.title{
    text-transform: capitalize;
    font-family: 'Fraunces', serif;
}
.desc{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.prices{
    margin: 5px;
    display: flex;
    justify-content: space-around;
    font-family: 'Fraunces', serif;
}
.current-price{
    font-size: 30px;
    font-weight: bold;
    color: hsl(158, 36%, 37%)
}
.prev-price{
    font-size: 20px;
    color: hsl(228, 12%, 48%);
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.link{
    margin-bottom: 20px;
    text-align: center;
}
.button-add {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    background-color: hsl(158, 36%, 37%);
    border: solid hsl(158, 36%, 37%) 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    padding: 3%;
    width: 60%;
}
 
 .button-add:hover {
    background: hsl(212, 21%, 14%);
    border: solid hsl(212, 21%, 14%) 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 10px;
    text-decoration: none;
 }
@media (max-width: 375px){
    .box-divs{
        width: 90%;
        height: 95%;
        flex-direction: column;}
    .product-picture, .infos{
        width: 100%;
    }
    .product-picture{
        height: 100%;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
    }
    .infos{
        height: 65%;
    }
}
